
body {
    margin: 0;
    padding: 10;
    background-color: #F5F5F5;
} 

#header-name{
    font-size: 39px;
    line-height: 24px;
    margin: 0;
    padding-top: 40px;
}

#header-slogan {
    font-size: 22px;
    margin-top: 10;
}

#header-slogan,
#header-name{
    margin-left: 50px;
}

.header-container {
    background-image: url(/images/burger-header.png);
    background-size: cover;
    color: white;
    font-family: 'Smythe';
    font-weight: 400;
    height: 167px;
    text-align: left;
}

header{
    box-shadow: 0px 0px 6px 2px #666;
}

.menu-container{
    box-shadow: 0px 0px 6px 2px #666;
}

.checkout-container{
    box-shadow: 0px 8px 6px 2px #666;
}

header,
.menu-container,
.checkout-container,
.order-confirm-container{
    width: 600px;
    margin: 0 auto;
    background-color: whitesmoke;
}

.menu{
    width: 100%;
}

.menu-inner{
    display: flex;
    align-items: center;
    margin-top: -20px;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: 2px solid #D2D2D2;
}

.menu-item{
    width: 100%;
}

.menu-icon{
    width: 100px;
    font-size: 60px;
}

.menu-name{
    font-size: 28px;
    line-height: 17px;
    font-weight: 700;

}

.ingredients{
    color: #8B8B8B;
    font-size: 16px;
    line-height: 24px;
}

.price{ 
    font-size: 20px;
    line-height: 24px;
    font-weight: 700; 
}

.menu-name,
.ingredients,
.price{
    font-family: 'Smythe';
    margin-left: 20px;
    margin-bottom: -2px;
}

.add-btns{
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.add-btn{
    cursor: pointer;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    color: #3C3C3C;
    border: 1.5px solid #DEDEDE;
    line-height: 24px;
    text-align: center;
    box-shadow: 0px 0px 5px -2px #666;
}

.add-btn:hover,
.add-btn:active{
    background-color: #16DB99;
    color: whitesmoke;
}

.order-header{
    display: flex;
    justify-content: center;
    font-size: 28px;
    line-height: 17px;
    font-family: 'Smythe';
    font-weight: 700;
}

.order-item{
    display: flex;
    align-items: center;
    margin-top: -15px;
}

.order-name{
    font-weight: 700;
    line-height: 24px;
    font-size: 25px;
}

.order-amount{
    display: flex;
    padding-left: 3px;
    font-weight: 400;
    font-family: 'Smythe';
    font-size: 20px;
     
}

.order-remove{
    display: flex;
    justify-content: center;
    align-content: center;
    border: none;
    background: none;
    height: 20px;
    margin: 0px 10px;
    cursor: pointer;
    color: #BBBBBB;
}

.order-remove:hover,
.order-remove:active{
    color: red;
}

.order-price{
    margin-left: auto;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.order-item {
    position: flex;
    margin-right: 40px;
    right: 0;
}

.order-item,
.total{
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Smythe';
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #393333;
    margin-top: -1px; 
}
.total-price-header{
    font-size: 28px;
    font-weight: 700;
}
.total-price{
    font-size: 22px;
    font-weight: 700;
}

.order-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Smythe';
}

.order-btn{
    margin-bottom: 70px;
}

.order-btn,
.payment-form-btn{
    width: 100%;
    height: 60px;
    font-family: Verdana;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background-color: #16DB99;
    color: white;
    border: none;
    cursor: pointer;
}

.payment-form-container{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: whitesmoke;
    color: black;
    filter: drop-shadow(5px 5px 255px rgba(0, 0, 0, 0.5));
}

.close-payment-form-btn-container{
    text-align: right;
    margin-top: -10px;
    margin-right: -20px;
}

.payment-form-close-btn{
    border: none;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}

.payment-form-close-btn:hover,
.payment-form-close-btn:active{
    color: red;
}

.payment-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    gap: 30px;
}

#name,
#card-number,
#cvv{
    width: 450px;
    height: 50px;
    padding-left: 20px;
}

.order-confirm-container{
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
}

.order-confirm{
    margin: 0 auto;
    text-align: center;
    color: #065F46;
    background-color: #D1FAE5;
    font-weight: 400;
    font-family: 'Smythe';
    font-size: 32px;
    width: 87%;
    
}

.hidden{
    display: none;
}